.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: var(--background);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.heading {
  font-size: 5rem;
  color: var(--text);
}

.subtitle {
  font-size: 2rem;
  color: var(--text-secondary);
  margin-top: -2rem;
  margin-bottom: 4rem;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.workflowBtns {
  height: 11rem;
  width: 11rem;
  border: 1px solid var(--button-border);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
  text-align: center;
}

.workflowBtns:hover {
  background: var(--button-hover-background);
  color: var(--button-hover-text);
  transform: translateY(-5px);
  box-shadow: var(--button-shadow);
}

.toggleButtonContainer {
  position: fixed;
  bottom: 0;
  right: 12px;
  color: var(--toggle-button-color);
}
.toggle-btn{
  font-size: 40px;
}
@media screen and (max-width: 600px) {
  .btnContainer {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 98%;
  }

  .container {
    min-height: 100vh;
    height: 100%;
  }

  .heading {
    font-size: 3rem;
    width: 80%;
    text-align: center;
  }

  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}

.dark {
  --background: #2b2b2b;
  --text: #ffc119;
  --text-secondary: #efefef;
  --button-border: #ffc119;
  --button-hover-background: #ffc119;
  --button-hover-text: #000;
  --button-shadow: 0px 30px 60px -6px, 0px 18px 36px -9px;
  --toggle-button-color: #efefef;
}

.light {
  --background: #f5f5f5;
  --text: #2b2b2b;
  --text-secondary: #777777;
  --button-border: #2b2b2b;
  --button-hover-background: #2b2b2b;
  --button-hover-text: #fff;
  --button-shadow: 0px 30px 60px -6px, 0px 18px 36px -9px;
  --toggle-button-color: #2b2b2b;
}
